.custom-shape-divider-top-1746560233 {
    top: 280px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1746560233 svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 50px;
}

.custom-shape-divider-top-1746560233 .shape-fill {
    fill: #D8B828;
}
